<div class="alert alert-warning alert-group">
    <div class="form-inline">
        <!-- operator is AND or OR , It is the dropdown field. -->
        <select ng-options="o.name as o.name for o in operators" ng-model="group.operator" class="form-control input-sm"></select>
        <!-- Those three are functions -->
        <button style="margin-left: 5px" ng-click="addCondition()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Condition</button>
        <button style="margin-left: 5px" ng-click="addGroup()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Group</button>
        <button style="margin-left: 5px" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove Group</button>
    </div>
    <div class="group-conditions">
        <!-- get content (new obj) -->
        <div ng-repeat="rule in group.rules track by $index | orderBy:'index'" class="condition">
            <!-- this is for the small animation... -->
            <div ng-switch="rule.hasOwnProperty('group')">
                <div ng-switch-when="true">
                    <query-builder group="rule.group"></query-builder>
                </div>
                <!-- Here is where the real new rules generated. -->
                <div ng-switch-default="ng-switch-default">
                    <div class="form-inline" style="display: inline-flex;">
                        <select ng-options="t.name as t.name for t in firstFields" ng-model="rule.field" class="form-control input-sm" ng-change="getResponsiveUrl(rule)"></select>
                        <select style="margin-left: 5px" ng-options="c.name as c.name for c in conditions" ng-model="rule.condition" class="form-control input-sm"></select>
                        <!-- <input style="margin-left: 5px" type="text" ng-model="rule.data" class="form-control input-sm"/> -->
                        <div ng-include="rule.tmpurl"></div>
                        <button style="margin-left: 5px" ng-click="removeCondition($index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>